//CSS Variables 
:root {
    --main-font: 'Lato', sans-serif;
    --secondary-font: 'Poppins', sans-serif;
}

//SCSS Variables
$first-color:#082B59;
$second-color:#d98555;
$third-color: #59331d;
$fourth-color: #131D26;
$off-white: #f2f2f2;
$white: #ffffff;